.modalExit,
.modalAdopt,
.modalScore,
.modalExamineAdopt,
.modalManagementActivation,
.modalManagementFrozen,
.modalFish,
.modalPoolToCheck,
.modalPoolToInterview,
.modalPoolToTryLesson{
  .modal-dialog{
    width: 300px;
    .modal-content{
      .modal-body{
        p{
          text-align: center;
          font-family: "Al Nile";
        }
      }
    }
    .modal-footer{
      height: 60px;
    }
  }
}